<% @post.tags.build if @post.tags.empty? %>
<% form_for(@post) do |p| %>
  <%= p.error_messages :header_message => "Invalid Entry",
   :message => "The Following Values are False", :header_tag => :h3%>

  <p>
    <!-- <%= p.label :name %><br /> -->
    Name: <%= p.text_field :name %>
  </p>
  <p>
    <!-- <%= p.label :title, "title" %><br /> -->
    Title: &nbsp; &nbsp;<%= p.text_field :title %>
  </p>
  <p>
    <!-- <%= p.label :content %><br /> -->
    Content:
    <br> <%= p.text_area :content %>
  </p>
  <h2>Tags</h2>
  <% p.fields_for :tags do |tag_form| %>
    <p>
      <%= tag_form.label :name, 'Tag:' %>
       <%= tag_form.text_field :name %>
    </p>
    <% unless tag_form.object.nil? || tag_form.object.new_record? %>
      <p>
        <%= tag_form.label :_destroy, 'Remove:' %>
        <%= tag_form.check_box :_destroy %>
      </p>
    <% end %>
  <% end %>
 <h3>
   <%=p.label :terms_of_service, 'I Accept' %>
   <%=p.check_box :terms_of_service %>
 </h3>
  <p>
    <%= p.submit button_label %>
  </p>
<% end %>
